// colors //
$body_color: #E5E5E5;
$background_cover_color: #EAF7F6;
$test_gradient: linear-gradient(180deg, #eaf7f6b3 0%, #eaf7f6b3 100%);
$main_text_color: #151515;
$accent_color: #656293;
$second_accent_color: #E5F4F6;
$header_nav_text_color: #181818;
$white_color: #FFFFFF;
$desc_color: rgba(21, 21, 21, 0.6);
$elips_color: rgba(21, 21, 21, 0.077);
$footer_text_color: rgba(255, 255, 255, 0.2);
$input_border_color: #AAAAAA;
$offer_card_color: #F5F5F5;

// font-size //
$main_text_fz: 16px;
$sections_titles_fz: 36px;
$titles_fz: 24px;

// font-family //
$main_font_family: "Poppins", sans-serif;
$headline_font_family: "Roboto", sans-serif;