.card_container {
    width: 80%;
    display: grid;
    grid-template-rows: 0.5fr 1.5fr;
    margin: 0 auto;

    &_title {
        @extend .title_style;
        z-index: 2;
    }

    .card_box {
        z-index: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 30px 35px;
        grid-template-areas:
            "card_1 card_box_img card_3"
            "card_2 card_box_img card_4";
    }

    .card_box_item {
        @extend .content_card;
        padding: 30px 40px;

        & img {
            margin-bottom: 12px;
        }
    }

    .card_title {
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 12px;
        text-transform: uppercase;
    }

    .card_desc {
        font-weight: 400;
        letter-spacing: 0.02em;
        color: $desc_color;
    }

    .card_box_img_container {
        position: relative;
        display: flex;
        justify-content: center;
        grid-area: card_box_img;
    }

    .card_box_img {
        position: absolute;
        top: 115%;
        left: 13%;
        transform: translateX(-13%);
        z-index: 0;
        animation: fly 10s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
    }

    @keyframes fly {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-150%);
        }

        100% {
            transform: translateY(-370%);
        }
    }

    .card_1 {
        grid-area: card_1;
    }

    .card_2 {
        grid-area: card_2;
    }

    .card_3 {
        grid-area: card_3;
    }

    .card_4 {
        grid-area: card_4;
    }

    .card_box_slider {
        display: none;
    }
}

@media (max-width: 1199px) {
    .card_container {
        .card_box_img {
            top: 125%;
            left: -5%;
        }

        @keyframes fly {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-200%);
            }

            100% {
                transform: translateY(-450%);
            }
        }
    }
}

@media (max-width: 1120px) and (min-width: 959px) {
    .card_box_img {
        left: -10px;
    }
}

@media (max-width: 960px) {
    .card_container {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin-top: 45px;
        position: relative;
        z-index: 0;

        .card_container_title {
            text-align: center;
            font-size: 27px;
            margin-bottom: 30px;
        }

        .card_box {
            display: none;
        }

        .card_box_slider {
            display: inline-block;
            width: 80%;
            height: 100%;
            display: inline-block;
            overflow: hidden;
            position: relative;
            z-index: 0;
            margin: 0 auto;
            margin-top: 20px;
            margin-bottom: 50px;
        }

        .cb_slider_navigation {
            position: absolute;
            top: 88%;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            z-index: 4;
        }

        .cb_bar {
            width: 24px;
            height: 24px;
            margin: 6px;
            cursor: pointer;
            background-color: $accent_color;
            opacity: 0.5;
            border-radius: 50%;
            transition: all 0.4s ease;
        }

        .cb_bar:hover {
            opacity: 1;
            transform: scale(1.1);
        }

        .card_box_slides input {
            position: absolute;
            visibility: hidden;
        }

        .card_box_slides {
            width: 400%;
            height: 100%;
            display: flex;
        }

        .cb_slide {
            width: 100%;
            position: relative;
            transition: all 0.6s ease;
            box-shadow: none;
            border: 1px solid $accent_color;
        }

        #cb_r1:checked~.cb_slide1 {
            transform: translate(0)
        }

        #cb_r2:checked~.cb_slide1 {
            transform: translate(-200%);
        }

        #cb_r2:checked~.cb_slide2 {
            transform: translate(-100%);
        }

        #cb_r3:checked~.cb_slide1 {
            transform: translate(-300%);
        }

        #cb_r3:checked~.cb_slide2 {
            transform: translate(-200%);
        }

        #cb_r3:checked~.cb_slide3 {
            transform: translate(-200%);
        }

        #cb_r4:checked~.cb_slide4 {
            transform: translate(-400%);
        }

        #cb_r4:checked~.cb_slide2 {
            transform: translate(-300%);
        }


    }

}